<a href="https://colab.research.google.com/github/justini101/Rice-Datathon-2023/blob/main/Cancer_Per_State.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
#standard imports
import pandas as pd
import numpy as np
import plotly.express as px
from google.colab import drive

In [32]:
#mounting from google drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [33]:
#reading csv
#note that this is 2019
#note that this age-adjusted means adjusted for w
raw_cancer = pd.read_csv('/content/drive/Shareddrives/Rice Datathon 2023/USCSOverviewMap (3).csv')

In [34]:
cancer_cleaned = raw_cancer[['Area', 'Age-Adjusted Rate', 'Death Count', 'Population']]

In [42]:
#cancer_cleaned.insert(3, "Raw Rate", cancer_cleaned['Death Count'] / cancer_cleaned['Population'])
#cancer_cleaned = cancer_cleaned[['Area', 'Death Count', 'Raw Rate', 'Population']]
cancer_cleaned['Raw Rate'] = cancer_cleaned['Death Count'] / cancer_cleaned['Population'] * 100000 # Deaths per 100,000
cancer_cleaned = cancer_cleaned.sort_values('Raw Rate')
cancer_cleaned = cancer_cleaned.rename(columns = {'Raw Rate':'Raw Mortality Rate'})

cancer_cleaned = cancer_cleaned[cancer_cleaned['Area']!='Puerto Rico']

In [36]:
cancer_cleaned["Area"] = cancer_cleaned["Area"].replace({"Alabama":"AL", "Alaska":"AK", "Arizona":"AZ", "Arkansas":"AR", "California":"CA",
                                  "Colorado":"CO", "Connecticut":"CT", "Delaware":"DE", "District of Columbia":"DC", "Florida":"FL", "Georgia":"GA",
                                  "Hawaii":"HI", "Idaho":"ID", "Illinois":"IL", "Indiana":"IN", "Iowa":"IA", "Kansas":"KS",
                                  "Kentucky":"KY", "Louisiana":"LA", "Maine":"ME", "Maryland":"MD", "Massachusetts":"MA",
                                  "Michigan":"MI", "Minnesota":"MN", "Mississippi":"MS", "Missouri":"MO", "Montana":"MT",
                                  "Nebraska":"NE", "Nevada":"NV", "New Hampshire":"NH", "New Jersey":"NJ", "New Mexico":"NM",
                                  "New York":"NY", "North Carolina":"NC", "North Dakota":"ND", "Ohio":"OH", "Oklahoma":"OK",
                                  "Oregon":"OR", "Pennsylvania":"PA", "Rhode Island":"RI", "South Carolina":"SC", 
                                  "South Dakota":"SD", "Tennessee":"TN", "Texas":"TX", "Utah":"UT", "Vermont":"VT",
                                  "Virginia":"VA", "Washington":"WA", "West Virginia":"WV", "Wisconsin":"WI", "Wyoming":"WY"})
if "MR per State" not in cancer_cleaned:
  cancer_cleaned.insert(5, 'MR per State', 0)
cancer_cleaned = cancer_cleaned.sort_values(by=['Area'])
cancer_cleaned = cancer_cleaned.reset_index()
cancer_cleaned

,index,Area,Age-Adjusted Rate,Death Count,Population,Raw Mortality Rate,MR per State
0,2,AK,18.4,68,350790,19.384817,0
1,31,AL,20.4,711,2536133,28.034807,0
2,17,AR,18.2,375,1538076,24.381110,0
3,37,AZ,18.3,900,3669041,24.529571,0
4,51,CA,18.7,4527,19829085,22.830100,0
5,26,CO,17.6,605,2857610,21.171538,0
6,22,CT,16.7,440,1826990,24.083328,0
7,4,DC,24.3,97,372393,26.047751,0
8,6,DE,20.4,141,504571,27.944531,0
9,50,FL,19.1,3155,10987074,28.715562,0
10,42,GA,20.1,1302,5462335,23.835960,0
11,10,HI,19.5,193,706419,27.320896,0
12,18,IA,18.1,396,1586636,24.958466,0
13,12,ID,18.5,202,891995,22.645867,0
14,46,IL,20.7,1758,6443120,27.284918,0
15,36,IN,19.3,847,3411571,24.827272,0
16,19,KS,20.8,411,1462080,28.110637,0
17,28,KY,22.1,657,2269036,28.955028,0
18,29,LA,21.9,667,2385969,27.955099,0
19,33,MA,15.3,758,3548380,21.361861,0
20,34,MD,19.3,789,3122480,25.268376,0
21,9,ME,17.7,192,686674,27.960866,0
22,44,MI,19.9,1389,5066743,27.414061,0
23,27,MN,17.3,650,2830663,22.962818,0
24,35,MO,19.1,810,3127846,25.896416,0
25,21,MS,21.9,433,1534587,28.216061,0
26,8,MT,20.7,156,531486,29.351667,0
27,43,NC,19.2,1355,5393755,25.121645,0
28,1,ND,14.7,67,372678,17.977986,0
29,13,NE,22.3,276,967601,28.524154,0
30,11,NH,19.7,201,686814,29.265565,0
31,41,NJ,20.0,1253,4545698,27.564524,0
32,16,NM,20.9,288,1060654,27.153058,0
33,23,NV,23.7,440,1541266,28.547960,0
34,48,NY,18.2,2491,10012065,24.879982,0
35,45,OH,21.1,1744,5962634,29.248819,0
36,24,OK,21.4,539,1999160,26.961324,0
37,25,OR,19.6,573,2126006,26.951947,0
38,47,PA,19.5,1879,6526489,28.790365,0
39,7,RI,18.2,142,543197,26.141529,0
40,32,SC,20.7,751,2659704,28.236225,0
41,5,SD,18.0,107,439553,24.342912,0
42,39,TN,20.6,968,3498429,27.669563,0
43,49,TX,20.0,3145,14591903,21.553049,0
44,15,UT,19.1,285,1589845,17.926276,0
45,40,VA,19.9,1111,4345858,25.564572,0
46,3,VT,15.9,79,315738,25.020745,0
47,38,WA,19.3,916,3802546,24.089123,0
48,30,WI,17.6,695,2925732,23.754739,0
49,14,WV,20.8,284,906103,31.343015,0
50,0,WY,17.4,62,284406,21.799821,0

In [37]:
from numpy.lib.function_base import delete
num_per_state = pd.read_csv('/content/drive/Shareddrives/Rice Datathon 2023/facilities_per_state.csv')
num_per_state.drop(columns="Unnamed: 0")
num_per_state = num_per_state.sort_values(by="State")
fin = cancer_cleaned
states = ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DC", "DE", "FL", "GA", 
          "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", 
          "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", 
          "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", 
          "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"]
states.sort()
i = 0

for state in states:
  fin.loc[i, 'MR per State'] = fin.loc[i, 'Raw Mortality Rate'] / num_per_state.loc[i, 'City']
  i += 1

sorted_fin = fin.sort_values(by="MR per State")
sorted_fin

,index,Area,Age-Adjusted Rate,Death Count,Population,Raw Mortality Rate,MR per State
4,51,CA,18.7,4527,19829085,22.830100,0.030000
43,49,TX,20.0,3145,14591903,21.553049,0.037549
34,48,NY,18.2,2491,10012065,24.879982,0.045236
9,50,FL,19.1,3155,10987074,28.715562,0.045725
14,46,IL,20.7,1758,6443120,27.284918,0.081448
38,47,PA,19.5,1879,6526489,28.790365,0.083937
10,42,GA,20.1,1302,5462335,23.835960,0.086050
35,45,OH,21.1,1744,5962634,29.248819,0.087834
27,43,NC,19.2,1355,5393755,25.121645,0.093043
22,44,MI,19.9,1389,5066743,27.414061,0.101159
23,27,MN,17.3,650,2830663,22.962818,0.109347
48,30,WI,17.6,695,2925732,23.754739,0.110487
31,41,NJ,20.0,1253,4545698,27.564524,0.111597
45,40,VA,19.9,1111,4345858,25.564572,0.124705
19,33,MA,15.3,758,3548380,21.361861,0.137818
15,36,IN,19.3,847,3411571,24.827272,0.138700
3,37,AZ,18.3,900,3669041,24.529571,0.143448
42,39,TN,20.6,968,3498429,27.669563,0.144112
5,26,CO,17.6,605,2857610,21.171538,0.153417
47,38,WA,19.3,916,3802546,24.089123,0.161672
24,35,MO,19.1,810,3127846,25.896416,0.162871
12,18,IA,18.1,396,1586636,24.958466,0.172127
20,34,MD,19.3,789,3122480,25.268376,0.191427
18,29,LA,21.9,667,2385969,27.955099,0.192794
1,31,AL,20.4,711,2536133,28.034807,0.198828
17,28,KY,22.1,657,2269036,28.955028,0.201077
6,22,CT,16.7,440,1826990,24.083328,0.211257
36,24,OK,21.4,539,1999160,26.961324,0.232425
37,25,OR,19.6,573,2126006,26.951947,0.249555
40,32,SC,20.7,751,2659704,28.236225,0.256693
16,19,KS,20.8,411,1462080,28.110637,0.257896
44,15,UT,19.1,285,1589845,17.926276,0.280098
25,21,MS,21.9,433,1534587,28.216061,0.285011
2,17,AR,18.2,375,1538076,24.381110,0.293748
29,13,NE,22.3,276,967601,28.524154,0.306711
28,1,ND,14.7,67,372678,17.977986,0.374541
33,23,NV,23.7,440,1541266,28.547960,0.413739
13,12,ID,18.5,202,891995,22.645867,0.462161
49,14,WV,20.8,284,906103,31.343015,0.489735
41,5,SD,18.0,107,439553,24.342912,0.507144
21,9,ME,17.7,192,686674,27.960866,0.582518
0,2,AK,18.4,68,350790,19.384817,0.587419
32,16,NM,20.9,288,1060654,27.153058,0.590284
26,8,MT,20.7,156,531486,29.351667,0.624504
30,11,NH,19.7,201,686814,29.265565,0.665126
50,0,WY,17.4,62,284406,21.799821,0.726661
11,10,HI,19.5,193,706419,27.320896,0.738403
39,7,RI,18.2,142,543197,26.141529,0.768868
8,6,DE,20.4,141,504571,27.944531,0.931484
46,3,VT,15.9,79,315738,25.020745,1.668050
7,4,DC,24.3,97,372393,26.047751,1.736517

In [38]:
sorted_fin.to_csv('/content/drive/Shareddrives/Rice Datathon 2023/cancer_per_state.csv', index=False)

In [39]:
deaths_per_state = cancer_cleaned[['Area', 'Death Count']]
deaths_per_state.head()

  Area  Death Count
0   AK           68
1   AL          711
2   AR          375
3   AZ          900
4   CA         4527

In [40]:
#px.offline.init_notebook_mode(connected=True)


fig = px.choropleth(cancer_cleaned,
                    locations='Area',  # States
                    locationmode='USA-states',
                    color='MR per State',  # Color based
                    color_continuous_scale='Greens',  # Color scale to use
                    scope="usa",
                    title='Mortality Rate Due to Female Breast Cancer in the U.S. by Number of Facilities per State (2019)',
                    labels={'Raw Mortality Rate':'Mortality Rate'})


fig.update_layout(coloraxis_colorbar=dict(title='Mortality Rate (Deaths per 100,000)', tickmode='array', tickvals=[0, 1, 2], 
                                         ticktext=['0', '.5', '1']))

fig.show()